{% extends 'store/base.html' %}


<div class="container py-5">
    <h2 class="mb-4 fw-bold text-success">Contact Us</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Name</label>
            {{ form.name }}
        </div>
        <div class="mb-3">
            <label class="form-label">Phone Number</label>
            {{ form.phone }}
        </div>
        <div class="mb-3">
            <label class="form-label">Address</label>
            {{ form.address }}
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            {{ form.email }}
        </div>
        <div class="mb-3">
            <label class="form-label">Message</label>
            {{ form.message }}
        </div>
        <button type="submit" class="btn btn-success">Send Message</button>
    </form>
</div>
   
